<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2022 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.oplus8pro">

    <overlay
        android:isStatic="true"
        android:priority="850"
        android:requiredSystemPropertyName="ro.vendor.oplus.project"
        android:requiredSystemPropertyValue="OP8P"
        android:targetPackage="android" />
</manifest>
